.coverImg {
  object-fit: cover;
}
.sizeImg {
  width: 150px;
  height: 150px;
}
.btn-primary {
  background-color: white;
  color: #70aff1;
  border: 1.5px solid #70aff1;
}
a:active,
a:hover .btn-primary:hover .btn-primary:active {
  background-color: #9ac9fb;
  color: white;
}

.hover:hover {
  background-color: #5ea5f1;
  border: white;
}
.zoom:hover {
  transform: scale(1.2);
}
.bottom {
  bottom: 0;
  left: 30%;
  position: absolute;
}
.memberTitle{  font-family: "Titillium Web", sans-serif !important;
  color: #5ea5f1;
  font-size: 1.5rem;
}

.memberSubtitle {
  font-size: 0.9rem;
  font-family: "Open Sans", sans-serif !important;
  text-align: center;
}

.card {
  border: 1.5px solid #9ac9fb;
  margin: auto;
  width: 80vw;
}
