header .btnLogin {
  margin: 5px;
  outline: none;
  border: none;
  border-radius: 5%;
  padding: 5px;
  width: 100px;
  background-color: #f9fbfc;
  border: 3px solid #9ac9fb;
  color: #9ac9fb;
  font-weight: bolder;
  letter-spacing: 2px;
}

header .activitiesMenu {
  width: 120px;
  height: 25px;
  font-size: 18px;
  color: #9ac9fb;
  font-weight: bolder;
  letter-spacing: 2px;
  display: flex;
  flex-direction: column;
  transition: all 0.5s ease;
  overflow: hidden;
}

header .activitieLink {
  text-decoration: none;
  font-size: 16px;
}

header .activitiesMenu:hover {
  color: #676f77;
  cursor: pointer;
}

header .activitiesMenu:focus {
  height: 170px;
}

header .btnLogin:hover {
  background-color: #b9d7f8;
  color: white;
}

header .my-logo {
  width: 200px;
}
header img {
  width: 90%;
}
